body{
    background-color: rgb(37, 37, 37);
}

.example{
    color: azurex;
}

.example-item{
    width: 33.333%;
    height: 150px;
}

.example-item_first{
    background-color: orange;
}

.example-item_second{
    background-color: blue;
}

.example-item_third{
    background-color: rgb(1, 233, 21);
}